body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(76, 2, 248);
}
.section-1 {
    color: white;
    padding: 12px 30px 0px 20px; 
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 14px;
}

.section-2 {
    color: white;
    padding: 10px 10px 0px 20px; 
    display: flex;
    justify-content: left;
    align-items: flex-end;
}

#weird-heading {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 26px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#bold-header-1 {
    font-size: 32px; 
    font-weight: bold; 
    padding-top: 0px; 
    margin-top: 0px;
}

#tiny-text-1 {
    font-size: 12px; 
    color: rgb(206, 164, 206); 
    flex-wrap: wrap;
}

button[type="button"] {
    background-image: linear-gradient(to right, orange, orangered);
    color: white;
    padding: 15px 25px;
    border: 0;
    border-radius: 60px;
    width: 165px; 
}


.top-middle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
    padding: 145px 0px 80px 10px;
}

#middle-break {
    color: white;
    display: flex;
    justify-content: center;
    padding: 100px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0px;
    padding: 20px 20px 0px 20px;
    font-size: 12px;
    color: white;
}